* {
  margin: 0;
}

ul {
  margin: 0 auto;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  user-select: none;
  background-size: cover;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./images/tetris-background.jpeg);
}

.title {
  padding: 20px;
  font-family: sans-serif;
  font-size: 40px;
  line-height: 1.5;
  text-shadow: #e3790f 2px 2px 2px;
  color: #fff;
}

.game {
  display: flex;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
}

.wrapper {
  min-width: 250px;
  display: block;
  padding: 20px;
  background-color: rgba(215, 208, 208, 0.325);
  margin-left: 30px;
  border-radius: 4px;
}

.board {
  display: grid;
  gap: 10px;
  padding: 8px;
  border-radius: 4px;
  font-size: 22px;
  background-color: #e3790f;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.board-score,
.board-level {
  padding: 15px;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: rgba(146, 144, 144, 0.205);
  border-radius: 0.3vh;
  box-shadow: inset 2px 2px 2px rgba(68, 68, 76, 0.271),
    inset -2px -2px 2px rgba(228, 229, 232, 0.271);
}

.controllers {
  display: block;
}

.material-symbols-outlined {
  display: block;
  font-size: 30px;
}

.controllers-main .controllers-btn {
  padding: 10px;
}

.controllers-additional .controllers-btn {
  padding: 12px;
}

.controllers-btn {
  border: 3px solid #e3790f;
  border-radius: 8px;
  font-family: sans-serif;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  background-color: #f79c42;
  color: #fff;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.controllers-btn:hover {
  background-color: #e3790f;
  transform: scale(1.05);
}

.controllers-main {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.controllers-additional {
  display: flex;
  margin-top: 30px;
  justify-content: space-around;
}

.tetris {
  background-color: rgb(223, 219, 219);
  padding: 0.3vh;
  border-radius: 0.5vh;
  display: grid;
  grid-template-columns: repeat(10, auto);
  grid-template-rows: repeat(20, auto);
  box-shadow: rgb(150, 150, 150) 0px 20px 30px -10px;
}

.tetris div {
  height: min(4vh, 7vw);
  width: min(4vh, 7vw);
  background-color: rgba(2, 2, 2, 0.205);
  border-radius: 0.3vh;
  box-shadow: inset 2px 2px 2px rgba(68, 68, 76, 0.271),
    inset -2px -2px 2px rgba(228, 229, 232, 0.271);
}

.game-over {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.game-over-board {
  display: grid;
  gap: 10px;
  padding: 50px;
  border-radius: 8px;
  font-size: 24px;
  background-color: #5c5957;
  border: 2px solid #fff;
  color: #fff;
  font-family: sans-serif;
  line-height: 1.5;
}

.game-over-title {
  text-transform: uppercase;
}

.game-over-score {
  text-align: center;
}

.game-over-score-number {
  text-decoration: underline;
}

.game-over-restart {
  padding: 18px;
  border: none;
  border-radius: 20px;
  background-color: #e3790f;
  color: #fff;
  text-transform: uppercase;
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.game-over-restart:hover,
.game-over-restart:focus {
  background-color: #2c2b2a;
}

.tetris .O {
  background: rgb(0, 255, 255);
}

.tetris .L {
  background: rgb(255, 255, 0);
}
.tetris .J {
  background: rgb(0, 255, 0);
}
.tetris .S {
  background: rgb(255, 0, 0);
}
.tetris .Z {
  background: rgb(0, 0, 255);
}
.tetris .T {
  background: rgb(255, 127, 0);
}
.tetris .I {
  background: rgb(127, 127, 127);
}
